asgiref==3.11.0
Django==5.2.8
django-db-logger==0.1.13
pillow==12.0.0
pip==24.0
psycopg2==2.9.11
python-dotenv==1.2.1
six==1.17.0
sqlparse==0.5.4
typing_extensions==4.15.0
tzdata==2025.2
django-prometheus